ion-card {
  width: fit-content;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit, .delete {
  --padding-start: 0.5vh;
  --padding-end: 0.5vh;
}

.progress-wrapper {
  position: relative;
  font-size: 1.5rem;
}

.display-current {
  position: absolute;
  color: var(--ion-color-medium);
}

.bigIcon {
  //font-size: 2rem;
}

.raccourcisIcon {
  margin-right: 1vmax;
  font-size: 1.5rem;
}
