<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Timmeer
    </ion-title>
    <ion-button color="primary" id="nbEquipes" slot="end" fill="clear">
      Nombre de minuteurs : {{tabTimer.length}}
    </ion-button>
    <ion-picker
      trigger="nbEquipes"
      [columns]="pickerColumns"
      [buttons]="[
      {text: 'Annuler', role: 'cancel'},
      {text: 'Valider', role: 'confirm'}
    ]"
      (didDismiss)="changeNbTimer($event)"
    ></ion-picker>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="center-horizontal">
      <ion-col *ngFor="let timer of tabTimer, index as i" class="center-horizontal" size="auto">
        <ion-card color="">
          <ion-card-header>
            <ion-card-title color="primary">
              <ion-row>
                <ion-col class="center-vertical">
                  {{timer.name}}
                </ion-col>
                <ion-col class="right" size="auto">
                  <ion-button [id]="'editButton' + timer.id" color="primary" shape="round" fill="clear" class="edit">
                    <ion-icon name="create-outline"></ion-icon>
                  </ion-button>
                  <ion-alert
                    [trigger]="'editButton' + timer.id"
                    [header]="'Modifier l\'équipe ' + timer.name"
                    [inputs]="[{placeholder: timer.name}, {placeholder: 'Temps maximum (en secondes)', type: 'number', value: timer.maxTime}]"
                    [buttons]="[{text: 'Annuler', role: 'cancel'}, {text: 'Valider', role: 'confirm'}]"
                    (didDismiss)="editTimer($event, timer)"
                  ></ion-alert>
                </ion-col>
                <ion-col class="right" size="auto">
                  <ion-button color="primary" shape="round" fill="clear" class="delete" (click)="deleteTimer(timer)">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="progress-wrapper center-horizontal center-vertical">
            <!-- https://github.com/crisbeto/angular-svg-round-progressbar -->
            <round-progress
              [current]="tabTime[i].currentTime"
              [max]="timer.maxTime"
              [rounded]="true"
              [color]="'#d2d3d5'"
            ></round-progress>
            <div class="display-current">
              {{formatTime(tabTime[i].currentTime)}} / {{formatTime(timer.maxTime)}}
            </div>
          </ion-card-content>
          <ion-card-content class="center-horizontal">
            <ion-button color="secondary" [id]="'button' + timer.id" (click)="launchTimer(timer)">
              <ion-icon name="play-outline" slot="start"></ion-icon>
              Lancer
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center-horizontal">
        <ion-card>
          <ion-card-content>
            <ion-buttons>
              <ion-button color="medium" (click)="pauseAllTimer()">
                <ion-icon name="pause-outline" class="bigIcon"></ion-icon>
              </ion-button>
              <ion-button color="medium" (click)="resetAllTimer()">
                <ion-icon name="refresh-outline" class="bigIcon"></ion-icon>
              </ion-button>
              <ion-button color="medium" (click)="saveConfig()">
                <ion-icon name="save-outline" class="bigIcon"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="center-horizontal" [ngStyle]="styleFooter()">
    <ion-button color="medium" href="https://github.com/nicolegrimpeur/Timmeer" target="_blank"
                fill="clear" shape="round">
      <ion-icon name="logo-github" class="bigIcon"></ion-icon>
    </ion-button>
  </div>

</ion-content>
