<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Timmeer
    </ion-title>
    <ion-button color="primary" id="nbEquipes" slot="end" fill="clear">
      Nombre de minuteurs : {{ tabTimer.length }}
    </ion-button>
    <ion-picker
      trigger="nbEquipes"
      [columns]="pickerColumnsNumberTimer"
      [buttons]="[
      {text: 'Annuler', role: 'cancel'},
      {text: 'Valider', role: 'confirm'}
    ]"
      (willPresent)="isKeyActive = false"
      (didDismiss)="changeNbTimer($event)"
    ></ion-picker>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="center-horizontal">
      <ion-col *ngIf="tabTimer.length === 0" class="center-horizontal">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Aucun minuteur
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="secondary" (click)="changeNbTimer({detail: {data: {nbTimer: {value: 1}}}})">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Ajouter un minuteur
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let timer of tabTimer, index as i" class="center-horizontal" size="auto">
        <ion-card color="">
          <ion-card-header>
            <ion-card-title color="primary">
              <ion-row>
                <ion-col class="center-vertical">
                  {{ timer.name }}
                </ion-col>
                <ion-col class="right ion-no-padding" size="auto">
                  <ion-button [id]="'editButton' + timer.id" color="primary" shape="round" fill="clear" class="edit">
                    <ion-icon name="create-outline"></ion-icon>
                  </ion-button>
                  <ion-alert
                    [trigger]="'editButton' + timer.id"
                    [header]="'Modifier l\'équipe ' + timer.name"
                    [inputs]="[
                    {placeholder: 'Nom : ' + timer.name},
                    {placeholder: 'Minutes : ' + getMinutesFromSeconds(timer.maxTime), type: 'number'},
                    {placeholder: 'Secondes : ' + timer.maxTime % 60, type: 'number'}
                    ]"
                    [buttons]="[{text: 'Annuler', role: 'cancel'}, {text: 'Valider', role: 'confirm'}]"
                    (willPresent)="isKeyActive = false"
                    (didDismiss)="editTimer($event, timer)"
                  ></ion-alert>
                </ion-col>
                <ion-col class="right ion-no-padding" size="auto">
                  <ion-button color="primary" shape="round" fill="clear" class="delete" (click)="deleteTimer(timer)">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="progress-wrapper center-horizontal center-vertical">
            <!-- https://github.com/crisbeto/angular-svg-round-progressbar -->
            <round-progress
              [current]="tabTime[i].currentTime"
              [max]="timer.maxTime"
              [rounded]="true"
              [color]="'#d2d3d5'"
            ></round-progress>
            <div class="display-current">
              {{ formatTime(tabTime[i].currentTime) }} / {{ formatTime(timer.maxTime) }}
            </div>
          </ion-card-content>
          <ion-card-content class="center-horizontal">
            <ion-button *ngIf="!tabTime[timer.id - 1].event" color="secondary" (click)="launchTimer(timer)">
              <ion-icon name="play-outline" slot="start"></ion-icon>
              Lancer
            </ion-button>
            <ion-button *ngIf="tabTime[timer.id - 1].event" color="secondary" (click)="pauseTimer(timer)">
              <ion-icon name="pause-outline" slot="start"></ion-icon>
              Pause
            </ion-button>
            <ion-button color="secondary" (click)="resetTimer(timer)">
              <ion-icon name="refresh-outline" slot="start"></ion-icon>
              Reset
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="tabTimer.length > 0">
      <ion-col class="center-horizontal">
        <ion-card>
          <ion-card-content>
            <ion-buttons>
              <ion-button color="medium" (click)="pauseAllTimer()" title="Mettre tous les compteurs en pause">
                <ion-icon name="pause-outline" size="large"></ion-icon>
              </ion-button>
              <ion-button color="medium" (click)="resetAllTimer()" title="Reset tous les compteurs">
                <ion-icon name="refresh-outline" size="large"></ion-icon>
              </ion-button>
              <ion-button color="medium" (click)="saveConfig()" title="Sauvegarder la config dans le navigateur">
                <ion-icon name="save-outline" size="large"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="center-horizontal" *ngIf="platform.is('desktop')">
      <ion-col size="auto">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Raccourcis clavier
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-icon aria-hidden="true" name="play-outline" slot="start"></ion-icon>
                Lancer le minuteur / mettre en pause un minuteur
                <ion-note slot="end" id="noteID">Id</ion-note>
                <ion-popover trigger="noteID" triggerAction="click" alignment="end">
                  <ng-template>
                    <ion-content class="ion-padding">
                      L'ID correspond au numéro du timer (le premier étant le numéro donc la touche 1 du clavier ou du
                      pavé numérique)
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-item>
              <ion-item>
                <ion-icon aria-hidden="true" name="pause-outline" slot="start"></ion-icon>
                Mettre en pause tous les minuteurs
                <ion-note slot="end">Espace</ion-note>
              </ion-item>
              <ion-item>
                <ion-icon aria-hidden="true" name="refresh-outline" slot="start"></ion-icon>
                Réinitialiser tous les minuteurs
                <ion-note slot="end">Echap</ion-note>
              </ion-item>
              <ion-item>
                <ion-icon aria-hidden="true" name="save-outline" slot="start"></ion-icon>
                Sauvegarder la configuration
                <ion-note slot="end">S</ion-note>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="center-horizontal">
      <ion-col size="auto">
        <ion-card>
          <ion-card-content>
            <ion-buttons>
              <ion-button color="medium" id="importConfigButton" title="Importer la config">
                <ion-icon name="download-outline" size="large"></ion-icon>
              </ion-button>
              <ion-alert
                trigger="importConfigButton"
                header="Veuillez coller la configuration ici"
                [inputs]="[{placeholder: 'Configuration', type: 'textarea'}]"
                [buttons]="[{text: 'Annuler', role: 'cancel'}, {text: 'Valider', role: 'confirm'}]"
                (willPresent)="isKeyActive = false"
                (didDismiss)="importConfig($event)"
              ></ion-alert>
              <ion-button color="medium" (click)="shareConfig()" title="Copier la config">
                <ion-icon name="share-social-outline" size="large"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="center-horizontal footer">
    <ion-button color="medium" href="https://github.com/nicolegrimpeur/Timmeer" target="_blank"
                fill="clear" shape="round">
      <ion-icon name="logo-github" size="large"></ion-icon>
    </ion-button>
  </div>

</ion-content>
