ion-card {
  width: fit-content;
}

.center {
  //display: grid;
  //place-items: center;
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit {
  --padding-start: 0;
  --padding-end: 0;
}
