ion-card {
  width: fit-content;
}

.center {
  //display: grid;
  //place-items: center;
  display: flex;
  justify-content: center;
}

.centerVertical {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit, .delete {
  --padding-start: 1vh;
  --padding-end: 0;
}

.bigIcon {
  font-size: 2rem;
}
